section#sortController
  .checker
    input(type= "checkbox" id ="hello")
    label.unselectable(for ="hello") hello
  .checker
    input(type= "checkbox" id ="poster")
    label.unselectable(for ="poster") poster
  .checker
    input(type= "checkbox" id ="webpage")
    label.unselectable(for ="webpage") webpage
  .checker
    input(type= "checkbox" id ="other")
    label.unselectable(for ="other") other
  .checker
    input(type= "checkbox" id ="cd")
    label.unselectable(for ="cd") cd
  .checker
    input(type= "checkbox" id ="about")
    label.unselectable(for ="about") info