include ./head.pug
body
  include ./header.pug
  include ./controller.pug
  include ./about.pug
  section.itemList
    .item.hello
      a(href="./single.pug")
        img(src ="http://placehold.jp/3d4070/ffffff/150x150.png?text=hello")
    .item.hello
      img(src ="http://placehold.jp/3d4070/ffffff/150x150.png?text=hello")
    .item.poster
      img(src ="http://placehold.jp/3d704f/ffffff/150x150.png?text=poster")
    .item.webpage
      img(src ="http://placehold.jp/66703d/ffffff/150x150.png?text=webpage")
    .item.other
      img(src ="http://placehold.jp/705a3d/ffffff/150x150.png?text=other")
    .item.cd
      img(src ="http://placehold.jp/703d3d/ffffff/150x150.png?text=CD")
    .item.poster
      img(src ="http://placehold.jp/3d704f/ffffff/150x150.png?text=poster")
    .item.webpage
      img(src ="http://placehold.jp/66703d/ffffff/150x150.png?text=webpage")
    .item.hello
      img(src ="http://placehold.jp/3d4070/ffffff/150x150.png?text=hello")
    .item.other
      img(src ="http://placehold.jp/705a3d/ffffff/150x150.png?text=other")
    .item.other
      img(src ="http://placehold.jp/705a3d/ffffff/150x150.png?text=other")
    .item.cd
      img(src ="http://placehold.jp/703d3d/ffffff/150x150.png?text=CD")
    .item.poster
      img(src ="http://placehold.jp/3d704f/ffffff/150x150.png?text=poster")
    .item.webpage
      img(src ="http://placehold.jp/66703d/ffffff/150x150.png?text=webpage")
    .item.other
      img(src ="http://placehold.jp/705a3d/ffffff/150x150.png?text=other")
    .item.cd
      img(src ="http://placehold.jp/703d3d/ffffff/150x150.png?text=CD")
    .item.webpage
      img(src ="http://placehold.jp/66703d/ffffff/150x150.png?text=webpage")
    .item.other
      img(src ="http://placehold.jp/705a3d/ffffff/150x150.png?text=other")
    .item.cd
      img(src ="http://placehold.jp/703d3d/ffffff/150x150.png?text=CD")
    .item.brank
    .item.brank
    .item.brank
    .item.brank
include ./footer.pug
script(src ="../script/index.js")
