include ./head.pug
body
  include ./header.pug
  section.article
    img.pic(src="../images/Chiba-port.jpg", alt="")
    .text
      h3 {single item article}
      p 千葉港（ちばこう、英:Chiba Port）は、千葉県千葉市中央区中央港（千葉港区の拠点、千葉港[1]）及び船橋市浜町（葛南港区の拠点、船橋港）を主とし、市川市、習志野市、市原市、袖ケ浦市にわたる港湾法上の国際拠点港湾である。港則法上の特定港に指定されており、日本三大貿易港に含まれる。

      p 京葉工業地帯の拠点港であり、貨物取扱量は全国第2位、貿易額は全国第4位、入港船舶隻数は全国6位、入港船舶総トン数は全国第4位、港湾空間規模は日本一を誇る[2][3]。日本8大工場夜景、日本11大工場夜景にも選定されている。
      p {content}
include ./footer.pug
script(src ="../script/sub.js")