@import 'mixin'
@import 'single'

.unselectable
	user-select: none
*
	font-family: sans-serif
	margin: 0
	padding: 0

.selectable
	user-select: auto

body
	margin: 0
	padding: 0
h2
	font-size: 18px
header

	text-align: center
	width: 80%
	max-width: 1200px
	margin: 0 auto
	padding: 5px
	h1
		font-size: 14px	
		color: #fff

	img
		width: 50px
		height: 50px
		margin-top: 20px
		+max-SP
			width: 30px
			height: 30px

section
	width: 80%
	max-width: 1200px
	margin: 0 auto
	padding: 5px

input
	display: none

#sortController
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	width: 80%
	margin: 0 auto
	+max-SP
		width: 100%
		position: sticky
		top: 0
		background-color: rgba(#fff, .8)
	.checker
		text-align: center
		margin: 10px
		width: 100px
		label
			transition: 350ms
			position: relative
			padding: 10px
			color: #333
			cursor: pointer
			&::before
				visibility: hidden
				position: absolute
				left: -5px
				transition: 300ms
				color: #fff
				content:"- "
			&:hover
				+max-PC
					color: orange
		input:checked + label
			color: orange
			&::before
				visibility: visible
				content:"- "
				font-weight: bold
				color: orange


.about
	background-color: #ec6711
	transition: 250ms
	visibility: visible
	display: block
	height: 250px
	+max-SP
		height: 420px
	color: #FFF
	.content
		.name
			display: flex
			padding: 10px 0
			.ja
				margin-left: 0px
			.en
				margin-left: 10px
		padding: 40px 0
		display: block
		width: 80%
		margin: 0 auto
		p
			display: block
			word-wrap: break-word
			text-align: justify
			font-size: 12px
			line-height: 2em


.itemList
	display: flex
	flex-wrap: wrap
	align-content: flex-start
	min-height: 100vh
	.item
		opacity: 1
		max-width: 160px
		max-height: 160px
		width: 34vw
		height: 34vw
		margin: 10px
		&:hover
			transition: 100ms
			box-shadow: 5px 5px orange
		img
			width: 100%
			height: 100%

	.hello
		transition: 250ms
		display: block
		
	.poster
		transition: 250ms
		display: block
		
	.webpage
		transition: 250ms
		display: block
		
	.other
		transition: 250ms
		display: block
		
	.cd	
		transition: 250ms
		display: block
		
	.brank
		visibility: hidden

footer
	background-color: #ec6711
	text-align: center
	margin-top: 20px
	padding: 20px
	color: #fff